@page "{id}"
@model ContosoCrafts.WebSite.Pages.FlashcardAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete Flashcard";
}

<h3 class="admin-title">Are you sure you want to delete this flashcard?</h3>

    <!-- Flashcard Details Section -->
    <div class="form-container">

        <div>
            <label>Category</label>
            <p>@Model.Flashcard.CategoryId</p>
        </div>

        <div>
            <label>Question</label>
            <p>@Model.Flashcard.Question</p>
        </div>

        <div>
            <label>Answer</label>
            <p>@Model.Flashcard.Answer</p>
        </div>

        <div>
            <label>Difficulty Level</label>
            <p>@Model.Flashcard.DifficultyLevel</p>
        </div>

        <div>
            <label>Additional Resources</label>
            <p><a href="@Model.Flashcard.Url" target="_blank" class="link-truncate">@Model.Flashcard.Url</a></p>
        </div>

        <div>
            <label>Open Count</label>
            <p>@Model.Flashcard.OpenCount</p>
        </div>

        <div class="button-container">
            <!-- Cancel Button -->
            <a asp-page="/FlashcardAdmin/Index" class="cancel-btn">Cancel</a>
            <!-- Confirm Button -->
            <form method="post">
                <button type="submit" class="confirm-btn">Confirm</button>
            </form>
        </div>
    </div>