@page
@model ContosoCrafts.WebSite.Pages.FlashcardAdmin.IndexModel
@{
    ViewData["Title"] = "FlashCard Index";
    const int maxQuestionLength = 70; // Define character limit
}

<div class="stylebox">
    <div class="create-btn">
        <a asp-page="/FlashcardAdmin/Create" class="read-btn">
            Create card
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="idx-title">Question List</th>
                <th class="idx-title">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var card in Model.Flashcards)
            {
                <tr>
                    <td>
                        @if (card.Question.Length > maxQuestionLength)
                        {
                            @($"{card.Question.Substring(0, maxQuestionLength)}...")
                        }
                        else
                        {
                            @card.Question
                        }
                    </td>
                    <td>
                        <a asp-page="/FlashcardAdmin/Read" asp-route-id="@card.Id" class="read-btn">
                            Read
                        </a>
                        <a asp-page="/FlashcardAdmin/Update" asp-route-id="@card.Id" class="read-btn">
                            Update
                        </a>
                        <a asp-page="/FlashcardAdmin/Delete" asp-route-id="@card.Id" class="read-btn">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>