@page "{id}"
@model ContosoCrafts.WebSite.Pages.FlashcardAdmin.ReadModel

@{
    ViewData["Title"] = "Read Flashcard";
}

<h3 class="admin-title">Flashcard Details</h3>

    <!-- Flashcard Details Section -->
    <div class="form-container">

        <div>
            <label>Category</label>
            <p>@Model.Flashcard.CategoryId</p>
        </div>

        <div>
            <label>Question</label>
            <p>@Model.Flashcard.Question</p>
        </div>

        <div>
            <label>Answer</label>
            <p>@Model.Flashcard.Answer</p>
        </div>

        <div>
            <label>Difficulty Level</label>
            <p>@Model.Flashcard.DifficultyLevel</p>
        </div>

        <div>
            <label>Additional Resources</label>
            <p>
                <a href="@Model.Flashcard.Url" target="_blank" class="link-truncate">@Model.Flashcard.Url</a>
            </p>
        </div>

        <div>
            <label>Open Count</label>
            <p>@Model.Flashcard.OpenCount</p>
        </div>

        <div class="button-container">
            <!-- Close Button -->
            <a asp-page="/FlashcardAdmin/Index" asp-route-id="@Model.Flashcard.Id" class="close-btn">Close</a>
        </div>
    </div>
